{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}Lottochecker{% endblock %}</title>
		<meta charset="utf-8" />
		
		{% block style %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap-theme.min.css' %}" />
		
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
		{% endblock %}
		
		{% block js %}
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		
		<script src="{% static 'js/fixes.js' %}"></script>
		{% endblock %}
	</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
	    <div class="container-fluid">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="/">LOTTO</a>
	        </div>
	
	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            <ul class="nav navbar-nav">
	                <li><a href="/">Home page</a></li>
	                	<!-- Action menu -->
		                <li class="dropdown">
	                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></a>
	                    <ul class="dropdown-menu">
	                    	{% if request.user.is_authenticated %}
		                        <li><a href="{% url 'lotto:ticket_create' %}">Create new lottery ticket</a></li>
		                        <li role="separator" class="divider"></li>
		                        <li><a href="{% url 'lotto:ticket_list_upcoming' %}">View upcoming lottery tickets</a></li>
		                        <li><a href="{% url 'lotto:ticket_list' %}">View all lottery tickets</a></li>
	                        {% else %}
	                        	<li class="disabled"><a href="#">No available actions</a></li>
	                        {% endif %}
	                    </ul>
	                </li>
	            </ul>
	            
	            <ul class="nav navbar-nav navbar-right">
	                <li><p class="navbar-text" title="Logged in as:...">Logged in as:
	                	<strong>
	                	{% if request.user.is_authenticated %}
	                		{{ request.user.username }}
                		{% else %}
                			Guest
            			{% endif %}
                		</strong>
                	</p></li>
	                <li class="dropdown">
	                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
	                    <ul class="dropdown-menu">
	                    	{% if request.user.is_authenticated %}
	                    		<li><a href="{% url 'lotto:logout' %}">Logout</a></li>
	                    	{% else %}
		                        <li><a href="{% url 'lotto:login' %}">Login</a></li>
		                        <li role="separator" class="divider"></li>
		                        <li><a href="{% url 'lotto:register' %}">Register</a></li>
	                        {% endif %}
	                    </ul>
	                </li>
	            </ul>
	        </div><!-- /.navbar-collapse -->
	    </div><!-- /.container-fluid -->
	</nav>
	
	<div class="container">
	
	{% if messages %}
	    {% for message in messages %}
	    <div class="alert alert-{% if message.tags != 'error' %}{{ message.tags }}{% else %}danger{% endif %}" role="alert">{{ message }}</div>
	    {% endfor %}
	{% endif %}
	
	
	{% block content %}
	{% endblock %}
	</div>
</body>
</html>
